<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        {% block styles %}{% endblock %}
    </head>
    <body>
    <h1><a href={% url 'ledger:list' %}>Recipe Book</a></h1>
        {% if request.user.is_authenticated %}
            <h2>Welcome, {{ request.user.username }}!</h2>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
        {% else %}
            <h2>Hello! You are not logged in!</h2>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    <h2>You are currently in {{ request.get_full_path }}</h2>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
    </body>
</html>