{% extends 'ledger/base.html' %}
{% load static %}
{% block title %}{{ object.recipe.name }} Recipe{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <h3>{{ object.recipe.name }} Recipe by {{ recipe.author.name }}</h3>
        <ul>
            {% for ingredient in object.recipe.ingredients.all %}
            <li>
                {{ ingredient.quantity }} of {{ ingredient.ingredient.name }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not authorized to view this page!</p>
    {% endif %}
{% endblock %}